/* Home.css */

.home-container {
  text-align: center;
  padding: 20px;
  background-color: var(--background-color);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.hero-section {
  background-color: var(--navbar-bg-color);
  color: var(--navbar-text-color);
  padding: 60px 20px;
  border-radius: 8px;
  margin-bottom: 40px;
}

.hero-title {
  font-size: 3rem;
  margin-bottom: 20px;
}

.hero-description {
  font-size: 1.5rem;
  margin-bottom: 30px;
}

.hero-buttons {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.hero-button {
  padding: 15px 30px;
  font-size: 1rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  text-decoration: none;
  color: var(--navbar-text-color);
}

.primary-button {
  background-color: #28a745;
}

.primary-button:hover {
  background-color: #218838;
}

.secondary-button {
  background-color: #6c757d;
}

.secondary-button:hover {
  background-color: #5a6268;
}

.features-section {
  padding: 40px 20px;
  background-color: var(--background-color);
  border-radius: 8px;
  margin-bottom: 40px;
}

.features-title {
  font-size: 2rem;
  margin-bottom: 20px;
  color: var(--text-color);
}

.features-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 20px;
}

.feature-item {
  background-color: var(--background-color);
  padding: 20px;
  border-radius: 8px;
  width: 30%;
  margin-bottom: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s, box-shadow 0.3s;
}

.feature-item:hover {
  transform: translateY(-10px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.feature-item h3 {
  font-size: 1.5rem;
  margin-bottom: 10px;
  color: #007bff;
}

.feature-item p {
  font-size: 1rem;
  color: var(--text-color);
}

.home-footer {
  padding: 20px;
  background-color: #343a40;
  color: var(--navbar-text-color);
  border-radius: 8px;
}

/* Responsive Styles */
@media (max-width: 768px) {
  .hero-title {
    font-size: 2.5rem;
  }

  .hero-description {
    font-size: 1.25rem;
  }

  .feature-item {
    width: 100%;
  }

  .features-title {
    font-size: 1.5rem;
  }
}

@media (max-width: 480px) {
  .hero-title {
    font-size: 2rem;
  }

  .hero-description {
    font-size: 1rem;
  }

  .hero-buttons {
    flex-direction: column;
    gap: 10px;
  }

  .features-title {
    font-size: 1.25rem;
  }

  .feature-item {
    padding: 15px;
  }

  .feature-item h3 {
    font-size: 1.25rem;
  }

  .feature-item p {
    font-size: 0.9rem;
  }
}