/* Existing styles */
.login-form input {
  width: 80%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
}


.login-form button {
  width: 85%;
  padding: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.login-form button:hover {
  background-color: #0056b3;
}

.register-link {
  margin-top: 15px;
}

/* Media Queries for Responsiveness */

/* Small devices (phones, 600px and down) */
@media (max-width: 600px) {
  .login-form input {
    padding: 8px;
    margin: 8px 0;
  }

  .login-form button {
    padding: 8px;
  }

  .register-link {
    margin-top: 10px;
  }
}

/* Medium devices (tablets, 768px and down) */
@media (max-width: 768px) {
  .login-form input {
    padding: 9px;

  }

  .login-form button {
    padding: 9px;
  }

  .register-link {
    margin-top: 12px;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .login-form input {
    padding: 10px;
  }

  .login-form button {
    padding: 10px;
  }

  .register-link {
    margin-top: 15px;
  }
}