/* RepairLanding.css */

.repair-landing-container {
  padding: 20px;
  background-image: url('../images/mzandiLogo.jpeg');
  background-size: cover;
  min-height: 100vh;
  margin-top: 60px;
}

.repair-landing-title {
  text-align: center;
  margin-bottom: 20px;
  font-size: 2rem;
  color: var(--text-color);
  font-weight: bold;
}

.repair-requests-list {
  list-style-type: none;
  padding: 0;
}

.repair-request-item {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  background-color: var(--background-color);
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.repair-request-item .content {
  flex: 1;
  margin-right: 20px;
}

.repair-request-item .tag {
  display: inline-block;
  padding: 5px 10px;
  border-radius: 3px;
  color: white;
  font-size: 12px;
  margin-bottom: 10px;
  background-color: var(--button-bg-color);
}

.repair-request-item h3 {
  margin: 0 0 10px;
  font-size: 18px;
}

.repair-request-item p {
  margin: 0 0 10px;
  font-size: 14px;
  color: var(--text-color);
}

.image-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-shrink: 0;
  margin-left: 20px;
}

.repair-image {
  max-width: 200px;
  border-radius: 5px;
  margin-bottom: 10px; /* Add margin-bottom to create space between the image and the button */
}

.edit-button, .delete-button {
  padding: 10px 20px;
  font-size: 14px;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-top: 10px;
}

.edit-button {
  background-color: var(--button-bg-color);
}

.edit-button:hover {
  background-color: var(--button-hover-color);
}

.delete-button {
  background-color: var(--button-delete-bg-color);
}

.delete-button:hover {
  background-color: var(--button-delete-hover-color);
}